.header {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.button {
    font-size: 20px;
    width: 220px;
    height: 60px;
    align-items: stretch;
    align-self: center;
    margin-top: 50px;
    padding-top: 0;
    transition-duration: 0.35s;
}

.button:hover {
    scale: 1.1 1.1;
}
